@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply p-2 rounded-lg text-inherit text-textDark-200  border border-blue-300 hover:ring-2 cursor-pointer transition-all;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .player-base-color::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -10;
    }
    .imageloaded {
        opacity: 1 !important;
    }
    .controls-icon {
        cursor: pointer;
    }
    .controls-speed {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
    }

    .playlist-shadow {
        box-shadow: 0 0 150px black inset;
    }

    .seeker-range {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background: rgb(195, 195, 195);
        outline: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .seeker-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
    }

    .seeker-range::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border: none;
        border-radius: 50%;
        background: white;
        cursor: pointer;
    }

    .seeker-range::-ms-thumb {
        width: 14px;
        height: 14px;

        border-radius: 50%;
        background: white;
        cursor: pointer;
    }

    .seeker-range::-webkit-slider-thumb:hover,
    .seeker-range::-moz-range-thumb:hover,
    .seeker-range::-ms-thumb:hover {
        background: #ffffff;
    }
}
